* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding: 5.292rem;
    font-family: 'Inter', sans-serif;
}

:root {
    --dark-border-20: rgb(34, 34, 34, 0.2);
    --dark-border-8: rgb(34, 34, 34, 0.08);
    --green: #CCFFBD;
    --yellow: #FFF9B7;
}

nav {
    position:fixed;
    display: flex;
    align-items: center;
    bottom: 0.625rem;
    border: 1px solid var(--dark-border-8);
    border-radius: 99rem;
    gap: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding:0.5rem;
    padding-left: 0;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.16);
}

nav img {
    height:1rem;
    padding: 0 1.125rem;
    border-right: 1px solid var(--dark-border-20); 
}

nav div {
    display: flex;
    gap: 0.75rem;
}

nav div button {
    font-size: 0.75rem;
    padding: 0.5rem 1.125rem;
    border:none;
    border-radius: 99rem;
    background-color: var(--green);
}

main {
    display: grid;
    gap: 0.75rem;
    padding:0.625rem;
}

main span {
    font-size: 0.75rem;
    opacity: 0.2;
}

main section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 0.625rem;
}

main section article {
    border: 1px solid var(--dark-border-8);
    border-radius: 1rem;
    padding:0.5rem;
}

main section article div {
    height: 5rem;
    background-color: var(--yellow);
    border-radius: 0.5rem;
}